/* Navbar */
.navbar {
  display: inline;
}

  .navbar-ul {
    list-style-type: none;
     margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #407BFF;
   }
   li {
    float: left;
   }
   li .nav-li {
    display: block;
    color: rgb(253, 251, 251);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   }
 
/* Homepage */
.homepage {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  overflow: hidden;
}

.background-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130%;
  
  
}

.overlay-text {
  position: relative;
  z-index: 2;
  padding: 20px;
  margin-top: -550px;
  color: rgb(8, 6, 6);
  
}


/* /Articles */
   .articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .article-item {
    flex-basis: calc(33.33% - 20px); 
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  
  @media (max-width: 991px) {
    .article-item {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 767px) {
    .article-item {
      width: calc(100% - 20px);
    }
  }
  
  

  body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    
  }

  /* Single Article */
  .article-container {
    display: flex;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .article-image-container {
    width: 300px;
  }
  
  .article-image {
    width: 100%;
    height: auto;
  }
  
  .article-content {
    flex: 1;
    padding: 20px;
  }
  
  .article-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .article-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .article-author {
    font-size: 14px;
    font-style: italic;
    color: #070505;
    margin-right: 10px;
  }
  
  .article-date {
    font-size: 14px;
    color: #060404;
    margin-right: 10px;
  }
  
  .article-body {
    font-size: 16px;
  }
  
  .article-topic {
    font-size: 14px;
    margin-right: 20px;
  }

/* comments */
.comments-container {
  background-color: #f2f2f2;
  padding: 17px;
  border-radius: 30px;
  margin-top: 10px;
}

.comment-textbox {
  width: 90%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: both;
}


